<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer Tracker</title>
</head>
<body>
<br>
<h1>What beers did you drink today {{username}}?</h1>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<form action="/create-beer" method="post">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="brewery" placeholder="Brewery"/>
    <input type="text" name="type" placeholder="Type"/>
    <input type="text" name="comment" placeholder="Comment"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit" >Add Beer</button>
</form>

<br>

<ol>
    {{#beers}}
    <li>
        <b>{{name}}</b> - {{brewery}} - {{type}} - {{rating}} - {{comment}}
        <form action="/delete-beer" method="post">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Remove Beer</button>
        </form>
        <form action="/edit-beer" method="post">
            <input type="hidden" name="id" value="{{id}}"/>
            <a href="/edit-beer?id={{id}}">Edit Beer</a>
        </form>
    </li>
    {{/beers}}

</ol>
</body>
</html>