<html>
<head>
    <title>Update Beers</title>
</head>
<body>
<h1>Update Beers</h1>
<form action="/logout" method="post">
        <button type="submit">Logout</button>
</form>
<br>
{{#beer}}
<form action="/update-beer" method="post">
    <input type="text" value="{{beer.brewery}}" name="newBrewery" placeholder="Update brewery"/>
    <input type="text" value="{{beer.name}}" name="newName" placeholder="Update name"/>
    <input type="text" value="{{beer.type}}" name="newtype" placeholder="Update type"/>
    <input type="text" value="{{beer.comment}}" name="newComment" placeholder="Update comment"/>
    <input type="hidden" name="id" value="{{beer.id}}"/>
    <button type="submit">Update Beer</button>
</form>
{{/beer}}

<form>

</form>
</body>
</html>